<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th scope="col" [appSort]="forecasts" data-order="desc" data-name="date">
        <a href="../fetch-data" ng-click="order='date'">Date</a>
</th>
      <th scope="col" [appSort]="forecasts" data-order="desc" data-name="tempC">
        <a href="../fetch-data"ng-click="order='tempC'">Temp. (C)</a>
          </th>
      <th scope="col" [appSort]="forecasts" data-order="desc" data-name="tempF">
        <a href="../fetch-data"ng-click="order='tempF'">Temp. (F)</a>
          </th>
      <th scope="col" [appSort]="forecasts" data-order="desc" data-name="summary">
        <a href="../fetch-data"ng-click="order='summary'">Summary</a>
          </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
<br />
<br />
<br />
<app-openweather-widget></app-openweather-widget>
